@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('http://fonts.cdnfonts.com/css/gotham');
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Gotham', sans-serif;
    line-height: 1.2;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
}

.logo {
    margin: 0;
    width: 120px;
    height: 60px;
}

.fa-user {
    background-color: #e2e2e2;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
}

#listenPremium {
    padding: 15px;
    background-color: #1d75de;
    color: #ffffff;
}

#btn_box {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 30px;
}

#btn_start, #btn_view {
    color: #ffffff;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px;
    border-radius: 30px;
    margin: 5px 0px;
}

#btn_start {
    background-color: #000000;
    border: 2px solid #000000;
}

#btn_start:hover {
    transform: scale(1.010);
    cursor: pointer;
}

#btn_view {
    background-color: #1d75de;
    border: 2px solid #ffffff
}

#btn_view:hover {
    background-color: #1759ab;
    transform: scale(1.010);
    cursor: pointer;
}

#listenPremium a {
    display: inline-block;
    font-size: 10px;
    color: #ffffff;
    margin-bottom: 25px;
}

#whyPremium h1, h2, #choosePremium>p {
    text-align: center;
}

#whyPremium {
    padding: 20px;
}

.offer_card {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 15px 0px;
}

.offer_card img {
    width: 100px;
    margin-right: 20px;
}

#choosePremium {
    background-color: #efefef;
    padding: 20px;
}

.plans_card {
    background-color: #ffffff;
    box-shadow: 0px 0px 5px 0px #505050;
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

.plans_card button {
    color: #ffffff;
    background-color: #000000;
    border: 2px solid #000000;
    text-transform: uppercase;
    font-weight: bold;
    padding: 15px 50px;
    border-radius: 30px;
    display: block;
    margin: 0 auto;
}

.plans_card button:hover {
    transform: scale(1.01);
    cursor: pointer;
}

.terms, .terms a {
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: #313131;
}

ul {
    padding: 0;
}

li {
    line-height: 1.5;
}

footer {
    background-color: #000000;
}

@media screen and (min-width: 769px) {

    #offers {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-evenly;
    }

    #btn_box {
        display: flex;
        flex-direction: row;
    }

    #btn_start {
        margin-right: 20px;
        padding: 15px 70px
    }

    #btn_view {
        padding: 15px 200px;
    }
}

@media screen and (min-width: 1198px) {

    #offers {
        display: grid;
        grid-template-columns: auto auto auto auto;
        justify-content: space-evenly;
    }

    .offer_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 15px 0px;
    }

    #plans {
        display: grid;
        grid-template-columns: auto auto auto auto;
    }

    .plans_card {
        margin: 0px 20px;
    }

}